#function{
    float: left;
    width:150px;
    margin-left:35px ;

}
#mainblock{
    float: right;
}
.site-info{
    text-align:left;
    margin: 20px 15px 35px 0px ;
    width: auto;
    height: auto;
    line-height: 6px;
}
.site-name a{
text-decoration: none ;
color: black;
}
.site-name a:hover{
    color: blueviolet;
}
.site-name a:active{
    color: beige;
}
.site-logo{
    border-radius:50%;
    margin: 0%;
}
.site-description h6{
    margin: 0%;
    line-height: 15px;
    color: rgb(179, 178, 178);
    letter-spacing: 1px;
}
#menu{
    margin: 0%;
    padding: 0%;
}