body{
    background-color: #F5F5FA;
}
#function{
    float: left;
    width:160px;
    margin-left:35px ;
    margin-right: 20px;
    position: fixed;

}
function::before{
    content:"";
    position: absolute;
    bottom: 25%;
	right: 0%;
	height: 250px;
	width: 1px;
	background-color: grey;
}
svg{
    margin-right: 15px;
}
#mainblock{
    width: 600px;
    position:absolute;
    left: 240px;
    top :30px;
}
#mainblock{
    float: left;
}
.demo{
    background-color: white;
    border-radius: 35px;
    box-shadow: 0 0 5px 1px rgb(206, 206, 206);
    margin-bottom: 20px;
}
.demo h2{
    margin: 0;
}
.demo p{
    margin: 0; 
}
.mainpic{
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
#rightblock{
    width: 250px;
    position: fixed;
    right: 0%;
    margin-left:20px ;
}
.site-info{
    text-align:left;
    margin: 20px 15px 35px 0px ;
    width: auto;
    height: auto;
    line-height: 6px;
}
.site-name a{
text-decoration: none ;
color: black;
}
.site-name a:hover{
    color: blueviolet;
}
.site-name a:active{
    color: beige;
}
.site-logo{
    border-radius:50%;
    margin: 0%;
}
.site-description h6{
    margin: 0%;
    line-height: 15px;
    color: rgb(179, 178, 178);
    letter-spacing: 1px;
    
}
#menu1{

    overflow-y:auto ;
    overflow-x: hidden;
}
#menu{
    margin: 0%;
    padding: 0%;
    width: 160px;
}
#menu li{
    line-height: 40px;
    list-style-type:none;
}
#menu svg{
    margin-right: 35px;
}
#menu a{
    text-decoration: none ;
    color: gainsboro;
}
#search p{
    margin-bottom:0px ;
}
#search svg{
    margin: 0;
}
#search label{
    position: relative;
    left:20px;
    top:22px;
    font-size: 80%;
    font-weight: 500;
    color: grey;
}
#search button{
    position: relative;
    left: 160px;
    bottom: 45px;
    height: 30px;
    border: 0;
    padding: 0px 15px 0px 15px;
    background-color: rgba(255,255,255,0);
}
#search input{
    padding: 28px 46px 17px 20px;
    border: 0px;
    width: 139px;
    height: 16px;
    border-radius: 15px;
    font-weight:600;
    font-size: 90%;
    box-shadow: 0 0 5px 1px grey;
}
#search button:focus{
    outline: none;
}
#search input:focus{
    outline: none;
}
#message{
    height: 250px;
    width: 110%;
    margin-right:20px;
    overflow:scroll;
    overflow-x:hidden;
    border-radius: 25px;
    display: flex;

}
#messagebk{
    background-color: white;
    width: 205px;
    height:auto;
    position:relative;
    top: -15px;
}

#leave{
    position:fixed;
    right: 40px;
    bottom: 10px;
}
#leave textarea{
    width: 205px;
}
#friendlink a{
    text-decoration:none;
    color:black;
    font-weight: 600;
}
#friendlink{
    position:absolute;
    left: 220px;
}
#friendlink a:hover{
    color: blue;
}
#tags{
    position: relative;
    width: 205px;
}
#tags span{
    position: absolute;
    top: -2px;
}
 
#tags p{
    color: black;
    background-color: rgb(255, 255, 255);
    padding:5px 10px 5px 10px;
    width:max-content;
    border: 0px;
    border-radius:6px 0px 6px 0px;
    font-weight:400;
    font-size: 90%;
    box-shadow: 0 0 4px 1px rgba(145, 145, 145, 0.151);
    display:inline-table;
    margin-top:0px;
    margin-bottom: 10px;
}
#tags a{
    text-decoration: none;
}
#tags p:hover{
    background-color: grey;
    color: white;
}
#answer{
    background-color: black;
    color: black;
}
#answer:hover{
    color: white;

}
.button-content:before{ 
    content:'';
  width:20px;  
  height: 0%;  
  border: 15px solid;  
  border-color: transparent #B2DE34 transparent transparent ;   
  position: absolute;  
  right:100px;  
  top: 0px;  
}  
.button-content{  
  width: 100px;  
  height: 30px;  
  background-color: #B2DE34;  
  font-size: small;  
  line-height: 30px;  
  text-align: center;  
  position:relative;  
  margin-bottom:10px;
} 
.NightAnimation{
    margin: 0;
    padding: 0;
    background: #00034b;
    position: fixed;
    display: none;
    z-index: 1500;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

  .ghost {
    position: relative;
    width: 150px;
    height: 225px;
    background: #ffffff;
    box-shadow: -17px 0px 0px #dbdbdb inset, 0 0 50px #5939db;
    border-radius: 100px 100px 0 0;
    animation: float 2s infinite;
  }

  .ghost__eyes {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 70px 0 0;
    width: 90px;
    height: 20px;
  }

  .ghost__eyes:before,
  .ghost__eyes:after {
    content: "";
    display: block;
    width: 15px;
    height: 25px;
    background: #00034b;
    border-radius: 50%;
  }

  .ghost__dimples {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 35px 0 0;
    width: 130px;
    height: 20px;
  }

  .ghost__dimples:before,
  .ghost__dimples:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #ffbeff;
    border-radius: 50%;
  }

  .ghost__feet {
    width: 100%;
    position: absolute;
    bottom: -13px;
    display: flex;
    justify-content: space-between;
  }

  .ghost__feet-foot {
    width: 25%;
    height: 26px;
    border-radius: 50%;
    background: #ffffff;
  }

  .ghost__feet-foot:last-child {
    background-image: linear-gradient(to right, #ffffff 55%, #dbdbdb 45%);
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }
  }

